# 操作系统生成的文件
.DS_Store
Thumbs.db

# Python 虚拟环境
venv/
env/
.venv/

# 编译后的 Python 文件
*.pyc
__pycache__/

# 日志文件
*.log

# 本地配置文件
.env
.venvrc

# 数据库文件
*.sqlite3
*.db

# 打包相关文件
dist/
build/
*.egg-info/

# IDE 和编辑器生成的文件
.idea/
.vscode/
*.iml
*.swp

# 测试报告
htmlcov/
.coverage

# 临时文件
*.tmp